#classesTable {
	tr {
		cursor: pointer;
		transition: 0.2s ease all;

		&:hover:not(.backupRow) {
			background: #b3fffb;
			border-color: #b3fffb;

			td {
				border-color: #b3fffb;
			}
		}
	}
}

.highlightedMP {
	border-color: #1afff7 !important;
	background: #66fffa !important;
}

th.highlightedMP {
	border-color: #1afff7 !important;
	background: #00e6de !important;
}