@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

*:not(i) {
	font-family: "Source Sans Pro", sans-serif !important;
}
*::selection {
	background-color: #affffb;
}
.hidden-xs {
	@media screen and (max-width: 768px) {
	    display: none !important;
	}
}
.visible-xs {
	display: none !important;
	@media screen and (max-width: 768px) {
	    display: inline-block !important;
	}
}
.hidden-sm {
	@media screen and (max-width: 992px) {
	    display: none !important;
	}
}
#mainMenu {
	@include border-radius(0);
}
#content {
	margin-top: 53px;
}

.headerSegment {
	padding: 12.5px !important;
}
#nonScriptedContent .container {
	margin-top: 20px;
}
.redText {
	color: #DF2428 !important;
}
.tealText {
	color: #00B5AE !important;
}