@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

*:not(i) {
	font-family: "Source Sans Pro", sans-serif !important;
}
.hidden-xs {
	@media screen and (max-width: 768px) {
	    display: none !important;
	}
}
.visible-xs {
	display: none !important;
	@media screen and (max-width: 768px) {
	    display: inline-block !important;
	}
}
#mainMenu {
	@include border-radius(0);
}
#content {
	margin-top: 53px;
}

.headerSegment {
	padding: 10px !important;
}