/*.headerSegment {
	background: linear-gradient(270deg, #5433FF, #20BDFF, #0082c8) !important;
	background-size: 200% 200% !important;

	-webkit-animation: viewclassname 5s ease infinite !important;
	-moz-animation: viewclassname 5s ease infinite !important;
	-o-animation: viewclassname 5s ease infinite !important;
	animation: viewclassname 5s ease infinite !important;
}
.phantomHeaderSegment {
	background: linear-gradient(270deg, #03001e, #7303c0, #ec38bc, #fdeff9) !important;
	background-size: 200% 200% !important;

	-webkit-animation: viewclassname 5s ease infinite !important;
	-moz-animation: viewclassname 5s ease infinite !important;
	-o-animation: viewclassname 5s ease infinite !important;
	animation: viewclassname 5s ease infinite !important;
}*/
#viewClassGradesHeader th {
	cursor: pointer;
	transition: 0.2s ease all;

	&:hover {
		background-color: rgb(220,220,220);
	}
}

#averageStatsTable td {
	font-weight: bold;
	font-size: 18px;
}
#averageStatsTable td.categorycell {
	font-weight: normal;
	font-size: 16px;
}
.phantommodeactive {
	color: #E33A93 !important;
}

@-webkit-keyframes viewclassname {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes viewclassname {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes viewclassname {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes viewclassname { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#mpAverageCalculator table {
	width: 100% !important;
	text-align: center;
}
#mpAverageCalculator td {
	width: 14.2857% !important;
	padding: 15px 0;
	background: #efefef;
	transition: 0.2s ease all;
	font-weight: bold;
}
#mpAverageCalculator .primCell {
	background: #00B5AE;
	font-size: 20px;
	color: white;
}
#mpAverageCalculator .secCell {
	background: #80fffb;
	font-size: 16px;
	color: black;
}
#mpAverageCalculator .actionCell {
	font-weight: bold !important;
	font-size: 18px !important;
	cursor: pointer;
}
#mpAverageCalculator .actionCell:hover {
	background: #ababab;
	color: white;
}
.redText a {
	color: #DF2328 !important;
}
.orangeText a {
	color: #F66F28 !important;
}
.yellowText a {
	color: #FEBA35 !important;
}
.assignmentNameCell {
	position: relative !important;
}
.assignmentGoogleLink {
	position: absolute !important;
	top: 25%;
	right: 10px;
	cursor: pointer;
	color: #dedede !important;
	transition: 0.2s ease all ;
}
.assignmentRow:hover .assignmentGoogleLink {
	color: #00B5AD !important;
}
.assignmentRow:hover .assignmentGoogleLink:hover {
	color: #008079 !important;
}