<div class="ui container" ng-app="nexteniac-classes" ng-controller="MainController" ng-init="initClasses()" ng-cloak>
	<br>
	<div class="ui stackable grid">
		<div class="sixteen wide column">
			<div class="ui center aligned segment headerSegment">
				<h1>Classes</h1>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[unweightedgpa | number:2]}</div>
					<div class="label">Unweighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[weightedgpa | number:2]}</div>
					<div class="label">Weighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[average]}</div>
					<div class="label">Average</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[classes.length]}</div>
					<div class="label">Classes</div>
				</div>
			</div>
		</div>
		<div class="thirteen wide column">
			<div class="ui fluid action input">
				<input type="text" placeholder="Search for classes...">
				<div class="ui teal right labeled icon button">
					<i class="search icon"></i>
					Search
				</div>
			</div>
		</div>
		<div class="three wide column">
			<select class="ui fluid dropdown" id="gradeSelectionDropdown" ng-model="search.grade">
				<option value="">Grade</option>
				<option value="12">Grade 12</option>
				<option value="11">Grade 11</option>
				<option value="10">Grade 10</option>
				<option value="9">Grade 9</option>
			</select>
		</div>
		<div class="sixteen wide column">
			<table class="ui center aligned compact celled table" id="classesTable">
				<thead>
					<tr>
						<th>Grade</th>
						<th>Name</th>
						<th>Credits</th>
						<th>Type</th>
						<th ng-class="{'highlightedMP': currentmp === 1 && search.grade == currentgrade}">MP1</th>
						<th ng-class="{'highlightedMP': currentmp === 2 && search.grade == currentgrade}">MP2</th>
						<th ng-class="{'highlightedMP': currentmp === 3 && search.grade == currentgrade}">MP3</th>
						<th ng-class="{'highlightedMP': currentmp === 4 && search.grade == currentgrade}">MP4</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="class in classes" ng-click="redirect($index)" ng-show="class.grade === search.grade">
						<td><h2 class="ui header">{[class.grade]}</h2></td>
						<td><h3 class="ui header">{[class.name]}</h3></td>
						<td><h2 class="ui header">{[class.credits | number:2]}</h2></td>
						<td><h3 class="ui header">{[class.type | type]}</h3></td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 1}">
							<span class="ui header" ng-show="class.letterAvg[0]">{[class.letterAvg[0] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[0]">-</span>
						</td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 2}">
							<span class="ui header" ng-show="class.letterAvg[1]">{[class.letterAvg[1] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[1]">-</span>
						</td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 3}">
							<span class="ui header" ng-show="class.letterAvg[2]">{[class.letterAvg[2] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[2]">-</span>
						</td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 4}">
							<span class="ui header" ng-show="class.letterAvg[3]">{[class.letterAvg[3] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[3]">-</span>
						</td>
					</tr>
					<tr class="backupRow" ng-hide="classcounts[search.grade-9] > 0">
						<td colspan="8" style="padding: 20px !important;">
							<h2>You do not have any classes in Grade {[search.grade]}!</h2>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>