<div class="ui container" ng-app="literate-classes" ng-controller="MainController" ng-init="initClasses()">
	<br>
	<div class="ui stackable grid">
		<div class="sixteen wide column">
			<div class="ui center aligned segment headerSegment">
				<h1>Classes</h1>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[unweightedgpa | number:2]}</div>
					<div class="label">Unweighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[weightedgpa | number:2]}</div>
					<div class="label">Weighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[average]}</div>
					<div class="label">Average</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">π</div>
					<div class="label">Some Statistic</div>
				</div>
			</div>
		</div>
		<div class="nine wide column">
			<div class="ui fluid action input">
				<input type="text" placeholder="Search for classes...">
				<button class="ui red right labeled icon button">
					<i class="search icon"></i>
					Search
				</button>
			</div>
		</div>
		<div class="two wide column">
			<select class="ui fluid dropdown" id="gradeSelectionDropdown" ng-model="search.grade" ng-change="refreshShownClassCount()">
				<option value="">Grade</option>
				<option value="12">Grade 12</option>
				<option value="11">Grade 11</option>
				<option value="10">Grade 10</option>
				<option value="9">Grade 9</option>
			</select>
		</div>
		<div class="two wide column">
			<select class="ui fluid dropdown" id="mpSelectionDropdown" ng-model="search.mp" ng-change="refreshShownClassCount()">
				<option value="">Marking Period</option>
				<option value="1">MP1</option>
				<option value="2">MP2</option>
				<option value="3">MP3</option>
				<option value="4">MP4</option>
			</select>
		</div>
		<div class="three wide column">
			<select class="ui fluid dropdown" id="sortByDropdown" ng-model="search.sortby">
				<option value="">Sort Dropdown</option>
				<option value="1">Grade High to Low</option>
				<option value="2">Grade Low to High</option>
				<option value="3" selected>Name A-Z</option>
				<option value="4">Name Z-A</option>
			</select>
		</div>
		<div class="sixteen wide column">
			<table class="ui center aligned celled table" id="classesTable" ng-hide="shownclasses === 0">
				<thead>
					<tr>
						<th colspan="2">Grade</th>
						<th>Name</th>
						<th>Credits</th>
						<th>Type</th>
						<th>MP1</th>
						<th>MP2</th>
						<th>MP3</th>
						<th>MP4</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="class in classes" ng-click="redirect($index)" ng-show="class.grade === search.grade && class['mp' + search.mp]">
						<td>
							<span class="ui header" ng-show="class.lettergrade">{[class.lettergrade]}</span>
							<span class="ui header" ng-hide="class.lettergrade">-</span>
						</td>
						<td>
							<span class="ui header" ng-show="class.numbergrade">{[class.numbergrade | number:2]}%</span>
							<span class="ui header" ng-hide="class.numbergrade">-</span>
						</td>
						<td><h3 class="ui header">{[class.name]}</h3></td>
						<td><h2 class="ui header">{[class.credits | number:2]}</h2></td>
						<td><h3 class="ui header">{[class.type | type]}</h3></td>
						<td class="hidden-xs"><i class="large {[class.mp1 | check]} icon"></i></td>
						<td class="hidden-xs"><i class="large {[class.mp2 | check]} icon"></i></td>
						<td class="hidden-xs"><i class="large {[class.mp3 | check]} icon"></i></td>
						<td class="hidden-xs"><i class="large {[class.mp4 | check]} icon"></i></td>
					</tr>
				</tbody>
			</table>
			<div class="ui secondary center aligned segment" ng-show="shownclasses === 0">
				<h2>
					<i class="frown icon"></i>
					No classes matched these criteria!
				</h2>
			</div>
		</div>
	</div>
</div>