<div class="ui container" ng-app="nexteniac-classes" ng-controller="MainController" ng-init="initClasses()">
	<br>
	<div class="ui four item labeled icon menu">
		<a class="teal item" ng-class="{'active': tab === 1}" ng-click="changeTab(1)">
			<i class="graduation cap icon"></i>
			Classes
		</a>
		<a class="teal item" ng-class="{'active': tab === 2}" ng-click="changeTab(2)">
			<i class="image icon"></i>
			Unweighted GPA
		</a>
		<a class="teal item" ng-class="{'active': tab === 3}" ng-click="changeTab(3)">
			<i class="images icon"></i>
			Weighted GPA
		</a>
		<a class="teal item" ng-class="{'active': tab === 4}" ng-click="changeTab(4)">
			<i class="chart line icon"></i>
			GPA Progression
		</a>
	</div>
	<br>
	<div class="ui stackable grid" ng-show="tab === 1">
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[unweightedgpa]}</div>
					<div class="label">Unweighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[weightedgpa]}</div>
					<div class="label">Weighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[average]}</div>
					<div class="label">Average</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[classes.length]}</div>
					<div class="label">Classes</div>
				</div>
			</div>
		</div>
		<div class="thirteen wide column">
			<div class="ui fluid input">
				<input type="text" placeholder="Search for classes..." ng-model="search.query">
			</div>
		</div>
		<div class="three wide column">
			<select class="ui fluid dropdown" id="gradeSelectionDropdown" ng-model="search.grade">
				<option value="">Grade</option>
				<option value="12">Grade 12</option>
				<option value="11">Grade 11</option>
				<option value="10">Grade 10</option>
				<option value="9">Grade 9</option>
			</select>
		</div>
		<div class="sixteen wide column">
			<table class="ui center aligned compact celled table" id="classesTable">
				<thead>
					<tr>
						<th>Grade</th>
						<th>Name</th>
						<th>Credits</th>
						<th>Type</th>
						<th ng-class="{'highlightedMP': currentmp === 1 && search.grade == currentgrade}">MP1</th>
						<th ng-class="{'highlightedMP': currentmp === 2 && search.grade == currentgrade}">MP2</th>
						<th ng-class="{'highlightedMP': currentmp === 3 && search.grade == currentgrade}">MP3</th>
						<th ng-class="{'highlightedMP': currentmp === 4 && search.grade == currentgrade}">MP4</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="class in classes" ng-click="redirect($index)" ng-show="(class.grade === search.grade && !search.query) || (class.name.includes(search.query) && search.query)">
						<td><h2 class="ui header">{[class.grade]}</h2></td>
						<td><h3 class="ui header">{[class.name]}</h3></td>
						<td><h2 class="ui header">{[class.credits | number:2]}</h2></td>
						<td><h3 class="ui header">{[class.type | type]}</h3></td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 1 && search.grade == currentgrade}">
							<span class="ui header" ng-show="class.letterAvg[0]">{[class.letterAvg[0] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[0]">-</span>
						</td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 2 && search.grade == currentgrade}">
							<span class="ui header" ng-show="class.letterAvg[1]">{[class.letterAvg[1] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[1]">-</span>
						</td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 3 && search.grade == currentgrade}">
							<span class="ui header" ng-show="class.letterAvg[2]">{[class.letterAvg[2] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[2]">-</span>
						</td>
						<td style="font-size: 18px !important;" ng-class="{'highlightedMP': currentmp === 4 && search.grade == currentgrade}">
							<span class="ui header" ng-show="class.letterAvg[3]">{[class.letterAvg[3] | numequivtoletter]}</span>
							<span class="ui header" ng-hide="class.letterAvg[3]">-</span>
						</td>
					</tr>
					<tr class="backupRow" ng-hide="classcounts[search.grade-9] > 0 || search.query">
						<td colspan="8" style="padding: 20px !important;">
							<h2>You do not have any classes in Grade {[search.grade]}!</h2>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="" ng-show="tab === 2 || tab === 3">
		<table class="ui center aligned celled table" ng-hide="unweightedgpa === '-'">
			<thead>
				<th>Grade</th>
				<th>Course</th>
				<th>Level</th>
				<th>Credits</th>
				<th>Final Average</th>
				<th>Quality Points</th>
				<th>Total Points</th>
			</thead>
			<tbody>
				<tr ng-repeat="gpacomp in gpacomponents">
					<td><h2 class="ui header">{[gpacomp.grade]}</h2></td>
					<td><h3 class="ui header">{[gpacomp.course]}</h3></td>
					<td><h3 class="ui header">{[gpacomp.type | type]}</h3></td>
					<td><h3 class="ui header">{[gpacomp.credits | number:2]}</h3></td>
					<td><h2 class="ui header">{[gpacomp.finalavg]}</h2></td>
					<td>
						<h3 class="ui header">
							<span ng-show="tab === 2">{[gpacomp.unweightedqualitypts | number:2]}</span>
							<span ng-show="tab === 3">{[gpacomp.weightedqualitypts | number:2]}</span>
						</h3>
					</td>
					<td>
						<h3 class="ui header">
							<span ng-show="tab === 2">{[gpacomp.unweightedqualitypts * gpacomp.credits | number:2]}</span>
							<span ng-show="tab === 3">{[gpacomp.weightedqualitypts * gpacomp.credits | number:2]}</span>
						</h3>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<th><b>Grand Total</b></th>
				<th></th>
				<th></th>
				<th><h3 class="ui header">{[totalcredits | number:2]}</h3></th>
				<th></th>
				<th></th>
				<th>
					<h2 class="ui header">
						<span ng-show="tab === 2">{[unweightedpts | number:2]}</span>
						<span ng-show="tab === 3">{[weightedpts | number:2]}</span>
					</h2>
				</th>
			</tfoot>
		</table>
		<div class="ui grid" ng-hide="unweightedgpa === '-'">
			<div class="four wide column"></div>
			<div class="eight wide column" ng-show="tab === 2">
				<div class="ui center aligned segment">
					<span class="ui header" style="font-size: 28px;">{[unweightedpts | number:2]}&nbsp; รท &nbsp;{[totalcredits | number:2]}&nbsp; = &nbsp;{[unweightedgpa | number:2]}</span>
					<br />
					<span class="ui header" style="font-size: 14px;">UNWEIGHTED GPA</span>
				</div>
			</div>
			<div class="eight wide column" ng-show="tab === 3">
				<div class="ui center aligned segment">
					<span class="ui header" style="font-size: 28px;">{[weightedpts | number:2]}&nbsp; รท &nbsp;{[totalcredits | number:2]}&nbsp; = &nbsp;{[weightedgpa | number:2]}</span>
					<br />
					<span class="ui header" style="font-size: 14px;">WEIGHTED GPA</span>
				</div>
			</div>
			<div class="four wide column"></div>
		</div>
		<div class="ui center aligned secondary segment" ng-show="unweightedgpa === '-'">
			<h2>You do not have any classes yet for a GPA to be calculated.</h2>
		</div>
	</div>
	<div ng-show="tab === 4">
		<div class="ui grid" ng-hide="unweightedgpa === '-'">
			<div class="ui ten wide column">
				<div class="ui segment">
					<canvas id="unweightedGPAProgressionChart" height="150"></canvas>
				</div>
				<div class="ui segment">
					<canvas id="weightedGPAProgressionChart" height="150"></canvas>
				</div>
			</div>
			<div class="ui six wide column">
				<table class="ui compact center aligned celled table">
					<thead>
						<tr>
							<th>MP</th>
							<th>UGPA</th>
							<th>WGPA</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="gpalabel in gpalabels" ng-class="{'highlightedMP': currentgrade === gpalabel.grade && currentmp === gpalabel.mp}">
							<td>
								<span class="ui header" style="font-size: 16px !important;">MP {[$index + 1]}</span>
								<br />
								<i style="font-size: 12px !important;">G{[gpalabel.grade]} MP{[gpalabel.mp]}</i>
							</td>
							<td><h2 class="ui header">{[unweightedgpapoints[$index].y | number:3]}</h2></td>
							<td><h2 class="ui header">{[weightedgpapoints[$index].y | number:3]}</h2></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="ui center aligned secondary segment" ng-show="unweightedgpa === '-'">
			<h2>You do not have any classes yet for a GPA to be calculated.</h2>
		</div>
	</div>
</div>
<br />