<div class="ui container" ng-app="literate-classes" ng-controller="MainController">
	<br>
	<div class="ui stackable grid">
		<div class="sixteen wide column">
			<div class="ui center aligned segment headerSegment">
				<h1>Classes</h1>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[unweightedgpa | number:2]}</div>
					<div class="label">Unweighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[weightedgpa | number:2]}</div>
					<div class="label">Weighted GPA</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">{[average]}</div>
					<div class="label">Average</div>
				</div>
			</div>
		</div>
		<div class="four wide column">
			<div class="ui center aligned segment">
				<div class="ui statistic">
					<div class="value">π</div>
					<div class="label">Some Statistic</div>
				</div>
			</div>
		</div>
		<div class="nine wide column">
			<div class="ui fluid action input">
				<input type="text" placeholder="Search for classes...">
				<button class="ui red right labeled icon button">
					<i class="search icon"></i>
					Search
				</button>
			</div>
		</div>
		<div class="two wide column">
			<select class="ui fluid dropdown">
				<option value="">School Year</option>
				<option value="1">2016-17</option>
				<option value="1" selected>2017-18</option>
				<option value="1">2018-19</option>
				<option value="1">2019-20</option>
			</select>
		</div>
		<div class="two wide column">
			<select class="ui fluid dropdown">
				<option value="">Marking Period</option>
				<option value="1">MP1</option>
				<option value="2" selected>MP2</option>
				<option value="3">MP3</option>
				<option value="4">MP4</option>
			</select>
		</div>
		<div class="three wide column">
			<div class="ui fluid dropdown selection">
				<input type="hidden" name="sortby">
				<i class="dropdown icon"></i>
				<div class="default text">Sort By</div>
				<div class="menu">
					<div class="item" data-value="1"><i class="sort numeric up icon"></i> Grade High to Low</div>
					<div class="item" data-value="2"><i class="sort numeric down icon"></i> Grade Low to High</div>
					<div class="item" data-value="3"><i class="sort alphabet down icon"></i> Name A-Z</div>
					<div class="item" data-value="4"><i class="sort alphabet up icon"></i> Name Z-A</div>
				</div>
			</div>
		</div>
		<div class="sixteen wide column">
			<table class="ui center aligned celled table">
				<thead>
					<tr>
						<th colspan="2">Grade</th>
						<th>Name</th>
						<th>Credits</th>
						<th>Type</th>
						<th>MP1</th>
						<th>MP2</th>
						<th>MP3</th>
						<th>MP4</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="class in classes">
						<td><h2 class="ui header">{[class.lettergrade]}</h2></td>
						<td><h2 class="ui header">{[class.numbergrade | number:2]}%</h2></td>
						<td><h3 class="ui header">{[class.name]}</h3></td>
						<td><h2 class="ui header">{[class.credits | number:2]}</h2></td>
						<td><h3 class="ui header">{[class.type]}</h3></td>
						<td><i class="large {[class.mp1 | check]} icon"></i></td>
						<td><i class="large {[class.mp2 | check]} icon"></i></td>
						<td><i class="large {[class.mp3 | check]} icon"></i></td>
						<td><i class="large {[class.mp4 | check]} icon"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>