<div style="width: 100% !important;" ng-app="nexteniac-home" ng-controller="MainController" ng-cloak>
	<div style="text-align: center; padding: 200px 0; width: 100%; background: linear-gradient(rgba(0,181,174,0.5), rgba(0,181,174,0.3), transparent), url('https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1');
	    background-position: 80% 80%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-attachment: fixed;">
	    <div class="ui container">
	    	<div class="ui inverted header" style="font-size: 48px;">Take control of your academic life</div>
		    <span class="" style="font-size: 32px; color: white;">View your academic career in a new way</span>
		    <br><br><br>
		    <a class="ui link huge teal labeled icon button" href="/classes">
		    	<i class="right arrow icon"></i>
		    	Get Started
		    </a>
		</div>
	</div>
	<div class="ui center aligned container" style="margin-top: 40px;">
		<iframe width="768" height="432" src="https://www.youtube.com/embed/7jrsQU2uzF4"></iframe>
		<br><br><br>
		<div class="ui doubling stackable three column grid">
			<div class="column" style="padding: 1rem 30px !important;">
				<h2>Grades</h2>
				<br>
				<span style="font-size: 16px;">You will learn hidden and surprising patterns in your grades, so you are better equipped to improve your grades in the future!</span>
				<br>
				<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/6_Paper_receipt_script-128.png" width="100px" height="100px" style="margin-top: 20px;" />
			</div>
			<div class="column" style="padding: 1rem 30px !important;">
				<h2>Averages & Stats</h2>
				<br>
				<span style="font-size: 16px;">Learn how you do on specific assignments, the components that make up your course averages, and stats about your grades!</span>
				<br>
				<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/9_Calculator_numbers-128.png" width="100px" height="100px" style="margin-top: 20px;" />
			</div>
			<div class="column" style="padding: 1rem 30px !important;">
				<h2>Insights</h2>
				<br>
				<span style="font-size: 16px;">Get suggestions on what grades to get in the future to improve your average and meet your academic goals!</span>
				<br>
				<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/10_Cup_prize-128.png" width="100px" height="100px" style="margin-top: 20px;" />
			</div>
			<div class="column" style="padding: 1rem 30px !important;">
				<h2>Trends</h2>
				<br>
				<span style="font-size: 16px;">Learn how your average for a class changes throughout the year, so you can be better prepared for the next semester!</span>
				<br>
				<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/2_Black_board_board_plank_school_board-128.png" width="100px" height="100px" style="margin-top: 20px;" />
			</div>
			<div class="column" style="padding: 1rem 30px !important;">
				<h2>Classes</h2>
				<br>
				<span style="font-size: 16px;">View tailored statistics, set your own goals, set the easiness of the class, and more to most easily bring up your grades!</span>
				<br>
				<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/15_File_files_office-128.png" width="100px" height="100px" style="margin-top: 20px;" />
			</div>
			<div class="column" style="padding: 1rem 30px !important;">
				<h2>College</h2>
				<br>
				<span style="font-size: 16px;">View your grades throughout high school holistically, your GPA, and more to gauge your readiness for college!</span>
				<br>
				<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/1_Bus_school_school_bus_vehicle-256.png" width="100px" height="100px" style="margin-top: 20px;" />
			</div>
		</div>
	</div>
	<div style="width: 100% !important; background: #e6fffe">
		<div class="ui container" style="margin-top: 40px !important; padding: 40px 0 !important;">
			<div class="ui stackable two column grid">
				<div class="column">
					<div class="ui tabular top attached menu">
					  	<a class="active item" ng-class="{'active': graphstab === 1}" ng-click="changeGraphsTab(1)">Average</a>
					  	<a class="item" ng-class="{'active': graphstab === 2}" ng-click="changeGraphsTab(2)">Frequency</a>
					</div>
					<div class="ui bottom attached segment" ng-show="graphstab === 1">
						<canvas id="averageChart" height="150"></canvas>
					</div>
					<div class="ui bottom attached segment" ng-show="graphstab === 2">
						<canvas id="frequencyChart" height="150"></canvas>
					</div>
				</div>
				<div class="column">
					<h1 style="line-height: 1.5 !important; margin: 30px 0 0 0 !important;">Understand your scores & averages better</h1>
					<br>
					<p style="font-size: 18px;">After you enter in your grades, NextEniac will calculate how your grades cause changes to your average, what grades you get, and what impact they have on your GPA. You can also see categorical statistics, a breakdown of your averages into their component parts, and trends.</p>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 100% !important;">
		<div class="ui container" style="padding: 80px 0 !important;">
			<div class="ui stackable two column grid">
				<div class="column">
					<h1 style="line-height: 1.5 !important; margin: 0 !important;">Get tips on how to improve</h1>
					<br>
					<p style="font-size: 18px;">After analyzing your grades and looking for ways to improve your average, NextEniac will give you personalized tips based on how much you need to improve, the subject, the category, and other factors. Links and other information will also be provided.</p>
				</div>
				<div class="column">
					<div class="ui two column grid">
						<div class="column">
							<div class="ui center aligned inverted red segment">
								<h3 style="line-height: 1 !important;">Tests</h3>
								<i class="star icon"></i>
								<i class="star icon"></i>
								<i class="star icon"></i>
							</div>
							<div class="ui segments">
								<div class="ui red segment">
									<h5><i class="pen square icon"></i> General Tips</h5>
								</div>
								<div class="ui segment">
									<table>
										<tr>
											<td style="vertical-align: top; padding-top: 5px;"><i class="lightbulb icon"></i></td>
											<td><p>Avoid answer choices that use extreme words or very jarring language.</p></td>
										</tr>
									</table>
								</div>
								<div class="ui segment">
									<table>
										<tr>
											<td style="vertical-align: top; padding-top: 5px;"><i class="lightbulb icon"></i></td>
											<td><p>Go through all the starred problems from previous HW to review.</p></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui center aligned inverted orange segment">
								<h3 style="line-height: 1 !important;">Homework</h3>
								<i class="star icon"></i>
								<i class="star icon"></i>
							</div>
							<div class="ui segments">
								<div class="ui orange segment">
									<h5><i class="pen square icon"></i> General Tips</h5>
								</div>
								<div class="ui segment">
									<table>
										<tr>
											<td style="vertical-align: top; padding-top: 5px;"><i class="lightbulb icon"></i></td>
											<td><p>Set a specific time everyday to do homework from only this class to create a habit.</p></td>
										</tr>
									</table>
								</div>
								<div class="ui segment">
									<table>
										<tr>
											<td style="vertical-align: top; padding-top: 5px;"><i class="lightbulb icon"></i></td>
											<td><p>Star any problems you found difficult & ask your teacher about them the next day.</p></td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="width: 100% !important; background: #00B5AD !important; padding: 15px 0 !important; color: white !important;"> 
		<div class="ui container">
			<span>Copyright © 2019 NextEniac, or its affiliates. All rights reserved.</span>
			<div style="float: right;">
				<a class="footerLink" href="/policies/termsofuse">Terms of Use</a> |
				<a class="footerLink" href="/policies/privacypolicy" target="_blank">Privacy Policy</a>
			</div>
		</div>
	</div>
</div>