<div style="text-align: center; padding: 180px 0; width: 100%; background: linear-gradient(rgba(0,181,174,0.5), rgba(0,181,174,0.3), transparent), url('https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;">
    <div class="ui container">
    	<div class="ui inverted header" style="font-size: 48px;">The next big thing to come to education.</div>
	    <span class="" style="font-size: 32px; color: white;">Take control of your academic life.</span>
	    <br><br><br>
	    <div class="ui huge teal labeled icon button">
	    	<i class="right arrow icon"></i>
	    	Get Started
	    </div>
	</div>
</div>
<div class="ui center aligned container" style="margin-top: 40px;">
	<div class="ui three column grid">
		<div class="column" style="padding: 1rem 30px !important;">
			<h2>Grades</h2>
			<br>
			<span style="font-size: 16px;">You will learn hidden and surprising patterns in your grades, so you are better equipped to improve your grades in the future!</span>
			<br>
			<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/6_Paper_receipt_script-128.png" width="100px" height="100px" style="margin-top: 20px;" />
		</div>
		<div class="column" style="padding: 1rem 30px !important;">
			<h2>Averages & Stats</h2>
			<br>
			<span style="font-size: 16px;">Learn how you do on specific assignments, the components that make up your course averages, and stats about your grades!</span>
			<br>
			<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/9_Calculator_numbers-128.png" width="100px" height="100px" style="margin-top: 20px;" />
		</div>
		<div class="column" style="padding: 1rem 30px !important;">
			<h2>Insights</h2>
			<br>
			<span style="font-size: 16px;">Get suggestions on what grades to get in the future to improve your average and meet your academic goals!</span>
			<br>
			<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/10_Cup_prize-128.png" width="100px" height="100px" style="margin-top: 20px;" />
		</div>
		<div class="column" style="padding: 1rem 30px !important;">
			<h2>Trends</h2>
			<br>
			<span style="font-size: 16px;">Learn how your average for a class changes throughout the year, so you can be better prepared for the next semester!</span>
			<br>
			<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/2_Black_board_board_plank_school_board-128.png" width="100px" height="100px" style="margin-top: 20px;" />
		</div>
		<div class="column" style="padding: 1rem 30px !important;">
			<h2>Classes</h2>
			<br>
			<span style="font-size: 16px;">View tailored statistics, set your own goals, set the easiness of the class, and more to most easily bring up your grades!</span>
			<br>
			<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/15_File_files_office-128.png" width="100px" height="100px" style="margin-top: 20px;" />
		</div>
		<div class="column" style="padding: 1rem 30px !important;">
			<h2>College</h2>
			<br>
			<span style="font-size: 16px;">View your grades throughout high school holistically, your GPA, and more to gauge your readiness for college!</span>
			<br>
			<img src="https://cdn3.iconfinder.com/data/icons/education-vol-1-34/512/1_Bus_school_school_bus_vehicle-256.png" width="100px" height="100px" style="margin-top: 20px;" />
		</div>
	</div>
</div>