<!DOCTYPE html>
<html>
  <head>
  	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}} | NextEniac</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel='stylesheet' href='/vendors/semantic-ui/semantic.min.css' />
    <link rel='stylesheet' href='/stylesheets/universal.css' />
    {{#each styles}}
        <link rel="stylesheet" href="/stylesheets/{{this}}.css" />
    {{/each}}
    <noscript>
      <style>
        #scriptedContent {
          display: none !important;
        }
      </style>
    </noscript>
  </head>
  <body>
    <div id="scriptedContent">
      <div class="ui fixed inverted teal menu" id="mainMenu">
        <div class="ui container">
          <a class="link item" href="/home">
            <img src="/images/logo/icon_64.png">
            &nbsp;<b> &nbsp; NextEniac</b>
          </a>
          <div class="right menu">
            <a class="link item" href="/createclass">
              <i class="plus icon"></i>
              <span class="hidden-xs">Create Class</span>
            </a>
            <div class="ui icon dropdown item" id="classesDropdown">
              <i class="book icon"></i> &nbsp; &nbsp;
              <span class="hidden-xs">Classes</span>
              <div class="menu">
                <a class="item" href="/classes"><i class="table icon"></i>All Classes</a>
              </div>
            </div>
            <div class="ui icon dropdown item" id="settingsDropdown">
              <span class="hidden-xs">&nbsp; Settings &nbsp;</span>
              <i class="caret down icon hidden-xs"></i>
              <i class="setting icon visible-xs"></i>
              <div class="menu">
                <div class="header">
                  Data
                </div>
                <div class="item" id="importLink">
                  <i class="upload icon"></i>
                  Import
                </div>
                <div class="item" id="exportLink">
                  <i class="download icon"></i>
                  Export
                </div>
                <div class="item" id="clearLink">
                  <i class="eraser icon"></i>
                  Clear
                </div>
                <div class="divider"></div>
                <div class="header">
                  Preferences
                </div>
                <div class="item">
                  <i class="font icon"></i>
                  Change Name
                </div>
                <div class="item" id="currentGradeLink">
                  <i class="calendar outline icon"></i>
                  Current Grade
                </div>
                <div class="item" id="currentMPLink">
                  <i class="percent icon"></i>
                  Current MP
                </div>
                <div class="divider"></div>
                <div class="header">
                  Share
                </div>
                <div class="item">
                  <i class="share icon"></i>
                  Share Link
                </div>
                <div class="item">
                  <i class="facebook f icon"></i>
                  Facebook
                </div>
                <div class="item">
                  <i class="twitter icon"></i>
                  Twitter
                </div>
                <div class="item">
                  <i class="instagram icon"></i>
                  Instagram
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="content">
        {{{body}}}
      </div>
      <div class="ui mini modal" id="currentGradeModal">
        <div class="header">Change Current Grade</div>
        <div class="ui form content">
          <div class="field">
            <labeL>Current Grade</labeL>
            <select class="ui fluid dropdown" id="currentGradeDropdown">
              <option value="">School Year</option>
              <option value="12">Grade 12</option>
              <option value="11">Grade 11</option>
              <option value="10">Grade 10</option>
              <option value="9">Grade 9</option>
            </select>
          </div>
        </div>
        <div class="actions">
          <div class="ui teal approve button">Change</div>
          <div class="ui red cancel button">Cancel</div>
        </div>
      </div>
      <div class="ui mini modal" id="currentMPModal">
        <div class="header">Change Current MP</div>
        <div class="ui form content">
          <div class="field">
            <labeL>Current MP</labeL>
            <select class="ui fluid dropdown" id="currentMPDropdown">
              <option value="">Current MP</option>
              <option value="1">MP1</option>
              <option value="2">MP2</option>
              <option value="3">MP3</option>
              <option value="4">MP4</option>
            </select>
          </div>
        </div>
        <div class="actions">
          <div class="ui teal approve button">Change</div>
          <div class="ui red cancel button">Cancel</div>
        </div>
      </div>
      <div class="ui tiny modal" id="importModal">
        <div class="header">Import Data</div>
        <div class="ui form content">
          <span>Upload the data file that you downloaded earlier. Make sure it is the most recent one you downloaded.</span>
          <br><br>
          <div class="ui fluid action input">
            <input type="text" placeholder="File" readonly="readonly" id="selectFileText">
            <div class="ui teal right button" id="selectFileButton">
              Select File
            </div>
          </div>
          <input type="file" id="importDataFile" style="display: none;">
        </div>
        <div class="actions">
          <div class="ui teal approve button" id="importDataButton">Import</div>
          <div class="ui red cancel button">Cancel</div>
        </div>
      </div>
      <div class="ui tiny modal" id="exportModal">
        <div class="header">Export Data</div>
        <div class="ui form content">
          <span>Click "Download" to download the data file. Keep this file in a safe place. When you want to import the data, just upload this file to <b>Next ENIAC</b>. (If you are on mobile, copy and paste the text that comes on the screen and paste into a .txt file on your desktop. Then, you can use this file.)</span>
        </div>
        <div class="actions">
          <div class="ui teal ok labeled icon button" id="downloadDataButton">
            <i class="file icon"></i>
            Download
          </div>
          <div class="ui red cancel button">Cancel</div>
        </div>
      </div>
      <div class="ui basic modal" id="clearModal">
        <div class="ui icon header">
          <i class="trash icon"></i>
          Clear Data
        </div>
        <div class="content">
          <p>Are you sure you want to clear all the data on this website? This action cannot be undone! If you want to reuse this data (on the same device or a different device), make sure you export the data first!</p>
        </div>
        <div class="actions">
          <div class="ui red basic cancel inverted button">
            <i class="x icon"></i>
            Cancel
          </div>
          <div class="ui teal ok inverted button">
            <i class="eraser icon"></i>
            Clear
          </div>
        </div>
      </div>
      <script src="/vendors/angular/angular.min.js"></script>
      <script src="/vendors/angular/angular-animate.min.js"></script>
      <script src="/vendors/jquery/jquery-3.3.1.min.js"></script>
      <script src="/vendors/chart/Chart.bundle.min.js"></script>
      <script src="/vendors/semantic-ui/semantic.min.js"></script>
      <script src="/javascripts/universal.js"></script>
      {{#each scripts}}
        <script src="/javascripts/{{this}}.js"></script>
      {{/each}}
    </div>
    <noscript>
      <div id="nonScriptedContent">
        <div class="ui container">
          <div class="ui center aligned red tertiary segment">
            <h2><i class="frown icon"></i> Literate needs Javascript enabled to run! Re-enable Javascript and reload the page.</h2>
          </div>
        </div>
      </div>
    </noscript>
  </body>
</html>
