<div class="ui container" ng-app="literate-viewclass" ng-controller="MainController" ng-init="initViewClass()">
	<br>
	<div class="ui secondary center aligned segment" ng-hide="classexists">
		<h2>
			<i class="frown icon"></i>
			"{{classname}}" could not be found!
		</h2>
	</div>
	<div class="ui grid" ng-show="classexists">
		<div class="sixteen wide column">
			<div class="ui center aligned segment headerSegment">
				<h1>{[class.name]}</h1>
			</div>
		</div>
		<div class="twelve wide column">
			<div class="ui six item labeled icon menu">
				<a class="red item" ng-class="{'active': tab === 1}" ng-click="changeTab(1)">
					<i class="table icon"></i>
					Grades
				</a>
				<a class="red item" ng-class="{'active': tab === 2}" ng-click="changeTab(2)">
					<i class="chart area icon"></i>
					Category Stats
				</a>
				<a class="red item" ng-class="{'active': tab === 3}" ng-click="changeTab(3)">
					<i class="chart line icon"></i>
					MP Stats
				</a>
				<a class="red item" ng-class="{'active': tab === 4}" ng-click="changeTab(4)">
					<i class="chart pie icon"></i>
					Average Stats
				</a>
				<a class="red item" ng-class="{'active': tab === 5}" ng-click="changeTab(5)">
					<i class="lightbulb icon"></i>
					Insights
				</a>
				<a class="red item" ng-class="{'active': tab === 6}" ng-click="changeTab(6)">
					<i class="quidditch icon"></i>
					Goals
				</a>
			</div>
			<div id="viewClassTabs">
				<div class="tab" ng-show="tab === 1">
					<table class="ui compact center aligned table" ng-hide="mpGrades[search.mp-1].length === 0">
						<thead id="viewClassGradesHeader">
							<th ng-click="changeSort(1)">Date <i class="caret icon" ng-show="sort.by === 1" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="changeSort(2)">Letter <i class="caret icon" ng-show="sort.by === 2" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="changeSort(3)">Percent <i class="caret icon" ng-show="sort.by === 3" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="changeSort(4)">Points <i class="caret icon" ng-show="sort.by === 4" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="changeSort(5)">Category <i class="caret icon" ng-show="sort.by === 5" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="changeSort(6)">Assignment Name <i class="caret icon" ng-show="sort.by === 6" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
						</thead>
						<tbody>
							<tr ng-repeat="grade in mpGrades[search.mp-1]" ng-show="grade.mp === search.mp" ng-class="{'gradeshown': grade.mp === search.mp}">
								<td>
									{[grade.date | date:'EEE M/d/yy']}
								</td>
								<td>
									<h2 class="ui center aligned header">
										{[grade.ptsearned / grade.ptstotal | lettergrade]}
									</h2>
								</td>
								<td>
									<b style="font-size: 16px !important;">{[grade.ptsearned * 100 / grade.ptstotal | number:2]}%</b>
								</td>
								<td style="font-size: 16px !important;">
									{[grade.ptsearned]} of {[grade.ptstotal]}
								</td>
								<td style="font-size: 16px !important;">
									<span>{[grade.category]}</span>
								</td style="font-size: 16px !important;">
								<td style="font-size: 16px !important;">
									<span>{[grade.name]}</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="ui secondary center aligned segment" ng-show="mpGrades[search.mp-1].length === 0">
						<h2>
							<i class="frown icon"></i>
							No grades in this marking period yet!
						</h2>
					</div>
				</div>
				<div class="tab" ng-show="tab === 2">
					<div class="ui secondary center aligned segment" ng-hide="search.category">
						<h2>
							<i class="mouse pointer icon"></i>
							Select a category to view its statistics.
						</h2>
					</div>
					<div class="ui secondary center aligned segment" ng-hide="gradeBrackets[search.mp-1][search.category].percents.length || !search.category">
						<h2>
							<i class="frown icon"></i>
							There are no grades in this category and MP!
						</h2>
					</div>
					<div ng-show="gradeBrackets[search.mp-1][search.category].percents.length && search.category">
						<div class="ui fluid center aligned segment"/>
							<h3>MP{[search.mp]} {[search.category]} Statistics</h3>
						</div>
						<div class="ui center aligned three column grid" id="categoryStatsGrid">
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].averageLetter]}</div>
											<div class="label">Category Letter</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].averagePercent | number:2]}</div>
											<div class="label">Category Percent</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].weight]}</div>
											<div class="label">Category Weight</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].ptsearned]}</div>
											<div class="label">Points Earned</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].ptstotal]}</div>
											<div class="label">Points Total</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].count]}</div>
											<div class="label">Assignment Count</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].arithmeticmean | number:2]}</div>
											<div class="label">
												Arithmetic Mean
												<i class="info circle icon" data-variation="tiny" data-content="Arithmetic mean is the most commonly used average identifier, where the data is added. Use this mean when there are no extreme outliers and the grades are not interrelated."></i>
											</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].geometricmean | number:2]}</div>
											<div class="label">
												Geometric Mean
												<i class="info circle icon" data-variation="tiny" data-content="Geometric mean is also common, where the data is multiplied. Use this mean when your grades are skewed with some outliers."></i>
											</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].harmonicmean | number:2]}</div>
											<div class="label">
												Harmonic Mean
												<i class="info circle icon" data-variation="tiny" data-content="The harmonic mean is calculated by using reciprocals of the data. Use this mean when your grades are fairly uniform but have a few outliers."></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].high | number:2]}</div>
											<div class="label">High</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].meandev | number:2]}</div>
											<div class="label">Mean Deviation</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].stddev | number:2]}</div>
											<div class="label">Standard Deviation</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].low | number:2]}</div>
											<div class="label">Low</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].median | number:2]}</div>
											<div class="label">Median</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].stdvar | number:2]}</div>
											<div class="label">Standard Variance</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].firstqrt | number:2]}</div>
											<div class="label">Lower Quartile</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].thirdqrt | number:2]}</div>
											<div class="label">Upper Quartile</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].intqrt | number:2]}</div>
											<div class="label">Interquartile Range</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].lofence | number:2]}</div>
											<div class="label">Lower Outer Fence</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].lifence | number:2]}</div>
											<div class="label">Lower Inner Fence</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].range | number:2]}</div>
											<div class="label">Range</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].uifence | number:2]}</div>
											<div class="label">Upper Inner Fence</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].uofence | number:2]}</div>
											<div class="label">Upper Outer Fence</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].quartdev | number:2]}</div>
											<div class="label">Quartile Deviation</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab" ng-show="tab === 3">
					<div class="ui segment" ng-hide="mpGrades[search.mp-1].length === 0">
						<canvas id="averageProgressionChart" height="150"></canvas>
					</div>
					<div class="ui segment" ng-hide="mpGrades[search.mp-1].length === 0" id="undecilesChartContainer">
						<canvas id="undecilesChart" height="150"></canvas>
					</div>
					<div class="ui secondary center aligned segment" ng-show="mpGrades[search.mp-1].length === 0">
						<h2>
							<i class="frown icon"></i>
							No grades in this marking period yet!
						</h2>
					</div>
				</div>
				<div class="tab" ng-show="tab === 4">
					<table class="ui center aligned table" id="averageStatsTable">
						<thead>
							<th>Category</th>
							<th>MP1</th>
							<th>MP2</th>
							<th>MP3</th>
							<th>MP4</th>
						</thead>
						<tbody>
							<tr ng-repeat="category in categories">
								<td class="categorycell">{[category.name]}</td>
								<td>{[gradeBrackets[0][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[0][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[0][category.name].averagePercent !== null">%</span></td>
								<td>{[gradeBrackets[1][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[1][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[1][category.name].averagePercent !== null">%</span></td>
								<td>{[gradeBrackets[2][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[2][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[2][category.name].averagePercent !== null">%</span></td>
								<td>{[gradeBrackets[3][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[3][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[3][category.name].averagePercent !== null">%</span></td>
							</tr>
							<tr style="background-color: #F9FAFB;">
								<td class="categorycell">Total</td>
								<td>{[mpAverages[0].averageLetter | valueordefault]} &nbsp; {[mpAverages[0].averagePercent | number:2]}<span ng-show="mpAverages[0].averagePercent !== null">%</span></td>
								<td>{[mpAverages[1].averageLetter | valueordefault]} &nbsp; {[mpAverages[1].averagePercent | number:2]}<span ng-show="mpAverages[1].averagePercent !== null">%</span></td>
								<td>{[mpAverages[2].averageLetter | valueordefault]} &nbsp; {[mpAverages[2].averagePercent | number:2]}<span ng-show="mpAverages[2].averagePercent !== null">%</span></td>
								<td>{[mpAverages[3].averageLetter | valueordefault]} &nbsp; {[mpAverages[3].averagePercent | number:2]}<span ng-show="mpAverages[3].averagePercent !== null">%</span></td>
							</tr>
						</tbody>
					</table>
					<div class="ui center aligned five column grid">
						<div class="column" ng-repeat="mp in [0,1,2,3]">
							<div class="ui segment">
								<div class="ui red statistic">
				 		 			<div class="value">{[mpAverages[mp].averageLetter | valueordefault]}</div>
				 		 			<div class="label">MP{[mp+1]} AVERAGE</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui inverted red segment">
								<div class="ui inverted statistic">
				 		 			<div class="value">{[yearAverageLetter | valueordefault]}</div>
				 		 			<div class="label">YEAR AVERAGE</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab" ng-show="tab === 5">
					<h3>Insights</h3>
				</div>
				<div class="tab" ng-show="tab === 6">
					<h3>Goals</h3>
				</div>
			</div>
		</div>
		<div class="four wide center aligned column">
			<button class="ui large fluid red labeled icon button" id="addGradeButton">
				<i class="table icon"></i>
				Add Grade
			</button>
			<br>
			<select class="ui fluid dropdown" id="mpSelectionDropdown" ng-model="search.mp">
					<option value="">Marking Period</option>
					<option value="1">MP1</option>
					<option value="2">MP2</option>
					<option value="3">MP3</option>
					<option value="4">MP4</option>
				</select>
			<div ng-show="tab === 2">
				<br>
				<select class="ui fluid dropdown" id="categorySelectionDropdown" ng-model="search.category">
					<option value="">Category</option>
					<option ng-repeat="category in categories" value="{[category.name]}">{[category.name]}</option>
				</select>
			</div>
			<div class="ui segments">
				<div class="ui red segment">
					<h3>Grade Categories</h3>
				</div>
				<div class="ui segment" ng-repeat="category in categories">
					<b>{[category.name]} </b>
					<span> {[category.weight]}%</span>
				</div>
			</div>
			<div class="ui segments">
				<div class="ui secondary segment">
					<h3>{[class.credits | number:2]} Credits</h3>
				</div>
				<div class="ui secondary segment">
					<h3>{[class.type | type]} Course</h3>
				</div>
				<div class="ui secondary segment">
					<h3>Taken in Grade {[class.grade]}</h3>
				</div>
			</div>
			<table class="ui center aligned celled table">
				<thead>
					<tr>
						<th>MP1</th>
						<th>MP2</th>
						<th>MP3</th>
						<th>MP4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="large {[class.mp1 | check]} icon"></i></td>
						<td><i class="large {[class.mp2 | check]} icon"></i></td>
						<td><i class="large {[class.mp3 | check]} icon"></i></td>
						<td><i class="large {[class.mp4 | check]} icon"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="ui tiny modal" id="addGradeModal">
		<div class="header">Add Grade</div>
		<div class="ui form content">
			<div class="two fields">
				<div class="field">
					<label>Date</label>
					<input type="date" placeholder="Date" ng-model="newgrade.date">
				</div>
				<div class="field">
					<label>Category</label>
					<div class="ui selection dropdown">
						<input type="hidden" id="addGradeCategoryDropdown">
						<i class="dropdown icon"></i>
						<div class="default text">Category</div>
						<div class="menu">
							<div class="item" ng-repeat="category in categories" data-value="{[category.name]}">{[category.name]}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Assignment Name</label>
					<input type="text" placeholder="Assignment Name" ng-model="newgrade.name">
				</div>
				<div class="field">
					<label>Marking Period</label>
					<select class="ui fluid dropdown" ng-model="newgrade.mp" id="newgradeMPSelectionDropdown">
						<option value="">Marking Period</option>
						<option value="1">MP1</option>
						<option value="2">MP2</option>
						<option value="3">MP3</option>
						<option value="4">MP4</option>
					</select>
				</div>
			</div>
			<div class="two fields">
				<div class="field">
					<label>Points Earned</label>
					<input type="number" placeholder="Points Earned" ng-model="newgrade.ptsearned" min="0">
				</div>
				<div class="field">
					<label>Points Total</label>
					<input type="number" placeholder="Points Total" ng-model="newgrade.ptstotal" min="0">
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui positive labeled icon button" ng-click="addGrade()">
		    	<i class="plus icon"></i>
		    	Add Grade
		    </div>
			<div class="ui red deny button">Cancel</div>
		</div>
	</div>
</div>