<div class="ui container" ng-app="literate-viewclass" ng-controller="MainController" ng-init="initViewClass()" ng-cloak>
	<br>
	<div class="ui secondary center aligned segment" ng-hide="classexists">
		<h2>
			<i class="frown icon"></i>
			"{{classname}}" could not be found!
		</h2>
	</div>
	<div class="ui grid" ng-show="classexists">
		<div class="sixteen wide column">
			<div class="ui center aligned segment headerSegment">
				<h1>{[class.name]}</h1>
			</div>
		</div>
		<div class="twelve wide column">
			<div class="ui six item labeled icon menu">
				<a class="red item" ng-class="{'active': tab === 1}" ng-click="changeTab(1)">
					<i class="table icon"></i>
					Grades
				</a>
				<a class="red item" ng-class="{'active': tab === 2}" ng-click="changeTab(2)">
					<i class="chart area icon"></i>
					Category Stats
				</a>
				<a class="red item" ng-class="{'active': tab === 3}" ng-click="changeTab(3)">
					<i class="chart line icon"></i>
					MP Stats
				</a>
				<a class="red item" ng-class="{'active': tab === 4}" ng-click="changeTab(4)">
					<i class="chart pie icon"></i>
					Average Stats
				</a>
				<a class="red item" ng-class="{'active': tab === 5}" ng-click="changeTab(5)">
					<i class="lightbulb icon"></i>
					Insights
				</a>
				<a class="red item" ng-class="{'active': tab === 6}" ng-click="changeTab(6)">
					<i class="soccer icon"></i>
					Goals
				</a>
			</div>
			<div id="viewClassTabs">
				<div class="tab" ng-show="tab === 1">
					<table class="ui compact center aligned table" ng-hide="mpGrades[search.mp-1].length === 0">
						<thead id="viewClassGradesHeader">
							<th ng-click="sortGrades(1)">Date <i class="caret icon" ng-show="sort.field === 1" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="sortGrades(2)">Letter <i class="caret icon" ng-show="sort.field === 2" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="sortGrades(3)">Percent <i class="caret icon" ng-show="sort.field === 3" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="sortGrades(4)">Points <i class="caret icon" ng-show="sort.field === 4" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="sortGrades(5)">Category <i class="caret icon" ng-show="sort.field === 5" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
							<th ng-click="sortGrades(6)">Assignment Name <i class="caret icon" ng-show="sort.field === 6" ng-class="{'down': sort.dir === -1, 'up': sort.dir === 1}"></i></th>
						</thead>
						<tbody>
							<tr ng-repeat="grade in mpGrades[search.mp-1]" ng-show="grade.mp === search.mp" ng-class="{'gradeshown': grade.mp === search.mp}">
								<td>
									{[grade.date | date:'EEE M/d/yy']}
								</td>
								<td>
									<h2 class="ui center aligned header">
										{[grade.ptsearned / grade.ptstotal | lettergrade]}
									</h2>
								</td>
								<td>
									<b style="font-size: 16px !important;">{[grade.ptsearned * 100 / grade.ptstotal | number:2]}%</b>
								</td>
								<td style="font-size: 16px !important;">
									{[grade.ptsearned]} of {[grade.ptstotal]}
								</td>
								<td style="font-size: 16px !important;">
									<span>{[grade.category]}</span>
								</td style="font-size: 16px !important;">
								<td style="font-size: 16px !important;">
									<span>{[grade.name]}</span>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="ui secondary center aligned segment" ng-show="mpGrades[search.mp-1].length === 0">
						<h2>
							<i class="frown icon"></i>
							No grades in this marking period yet!
						</h2>
					</div>
				</div>
				<div class="tab" ng-show="tab === 2">
					<div class="ui secondary center aligned segment" ng-hide="search.category">
						<h2>
							<i class="mouse pointer icon"></i>
							Select a category to view its statistics.
						</h2>
					</div>
					<div class="ui secondary center aligned segment" ng-hide="gradeBrackets[search.mp-1][search.category].percents.length || !search.category">
						<h2>
							<i class="frown icon"></i>
							There are no grades in this category and MP!
						</h2>
					</div>
					<div ng-show="gradeBrackets[search.mp-1][search.category].percents.length && search.category">
						<div class="ui grid">
							<div class="twelve wide column">
								<div class="ui fluid center aligned segment" style="padding: 0.75em 0.75em !important;">
									<h3>MP{[search.mp]} {[search.category]} Statistics</h3>
								</div>
							</div>
							<div class="four wide column">
								<div class="ui fluid inverted red big button" ng-click="toggleAdvancedMode()" ng-class="{'red': !advancedmode, 'blue': advancedmode}"><i class="icon" ng-class="{'cogs': !advancedmode, 'cog': advancedmode}"></i> &nbsp;<span ng-show="!advancedmode">Advanced</span><span ng-show="advancedmode">Basic</span></div>
							</div>
						</div>						
						<div class="ui center aligned three column grid" id="categoryStatsGrid">
							<div class="row">
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].averageLetter]}</div>
											<div class="label">Category Letter</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].ptsearned]}</div>
											<div class="label">Points Earned</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].arithmeticmean | number:2]}</div>
											<div class="label">
												Arithmetic Mean
											</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].median | number:2]}</div>
											<div class="label">Median</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].thirdqrt | number:2]}</div>
											<div class="label">Upper Quartile</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].firstqrt | number:2]}</div>
											<div class="label">Lower Quartile</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].uifence | number:2]}</div>
											<div class="label">Upper Inner Fence</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].lofence | number:2]}</div>
											<div class="label">Lower Outer Fence</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].averagePercent | number:2]}</div>
											<div class="label">Category Percent</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].ptstotal]}</div>
											<div class="label">Points Total</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].high | number:2]}</div>
											<div class="label">High</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].stddev | number:2]}</div>
											<div class="label">Standard Deviation</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].geometricmean | number:2]}</div>
											<div class="label">
												Geometric Mean
											</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].meandev | number:2]}</div>
											<div class="label">Mean Deviation</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].uofence | number:2]}</div>
											<div class="label">Upper Outer Fence</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].lifence | number:2]}</div>
											<div class="label">Lower Inner Fence</div>
										</div>
									</div>
								</div>
								<div class="column"> 
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].weight]}</div>
											<div class="label">Category Weight</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].count]}</div>
											<div class="label">Assignment Count</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].low | number:2]}</div>
											<div class="label">Low</div>
										</div>
									</div>
									<div class="ui segment">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].range | number:2]}</div>
											<div class="label">Range</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].harmonicmean | number:2]}</div>
											<div class="label">
												Harmonic Mean
											</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].stdvar | number:2]}</div>
											<div class="label">Standard Variance</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].intqrt | number:2]}</div>
											<div class="label">Interquartile Range</div>
										</div>
									</div>
									<div class="ui segment" ng-show="advancedmode">
										<div class="ui small statistic">
											<div class="value">{[gradeBrackets[search.mp-1][search.category].quartdev | number:2]}</div>
											<div class="label">Quartile Deviation</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab" ng-show="tab === 3">
					<div class="ui segment" ng-hide="mpGrades[search.mp-1].length === 0">
						<canvas id="averageProgressionChart" height="150"></canvas>
					</div>
					<div class="ui segment" ng-hide="mpGrades[search.mp-1].length === 0" id="undecilesChartContainer">
						<canvas id="undecilesChart" height="150"></canvas>
					</div>
					<div class="ui secondary center aligned segment" ng-show="mpGrades[search.mp-1].length === 0">
						<h2>
							<i class="frown icon"></i>
							No grades in this marking period yet!
						</h2>
					</div>
				</div>
				<div class="tab" ng-show="tab === 4">
					<table class="ui center aligned table" id="averageStatsTable">
						<thead>
							<th>Category</th>
							<th>MP1</th>
							<th>MP2</th>
							<th>MP3</th>
							<th>MP4</th>
						</thead>
						<tbody>
							<tr ng-repeat="category in categories">
								<td class="categorycell">{[category.name]}</td>
								<td>{[gradeBrackets[0][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[0][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[0][category.name].averagePercent !== null">%</span></td>
								<td>{[gradeBrackets[1][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[1][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[1][category.name].averagePercent !== null">%</span></td>
								<td>{[gradeBrackets[2][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[2][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[2][category.name].averagePercent !== null">%</span></td>
								<td>{[gradeBrackets[3][category.name].averageLetter | valueordefault]} &nbsp; {[gradeBrackets[3][category.name].averagePercent | number:2]}<span ng-show="gradeBrackets[3][category.name].averagePercent !== null">%</span></td>
							</tr>
							<tr style="background-color: #F9FAFB;">
								<td class="categorycell">Total</td>
								<td>{[mpAverages[0].averageLetter | valueordefault]} &nbsp; {[mpAverages[0].averagePercent | number:2]}<span ng-show="mpAverages[0].averagePercent !== null">%</span></td>
								<td>{[mpAverages[1].averageLetter | valueordefault]} &nbsp; {[mpAverages[1].averagePercent | number:2]}<span ng-show="mpAverages[1].averagePercent !== null">%</span></td>
								<td>{[mpAverages[2].averageLetter | valueordefault]} &nbsp; {[mpAverages[2].averagePercent | number:2]}<span ng-show="mpAverages[2].averagePercent !== null">%</span></td>
								<td>{[mpAverages[3].averageLetter | valueordefault]} &nbsp; {[mpAverages[3].averagePercent | number:2]}<span ng-show="mpAverages[3].averagePercent !== null">%</span></td>
							</tr>
						</tbody>
					</table>
					<div class="ui center aligned five column grid">
						<div class="column" ng-repeat="mp in [0,1,2,3]">
							<div class="ui segment">
								<div class="ui red statistic">
				 		 			<div class="value">{[mpAverages[mp].averageLetter | valueordefault]}</div>
				 		 			<div class="label">MP{[mp+1]} AVERAGE</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="ui inverted red segment">
								<div class="ui inverted statistic">
				 		 			<div class="value">{[yearAverageLetter | valueordefault]}</div>
				 		 			<div class="label">YEAR AVERAGE</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab" ng-show="tab === 5">
					<div class="ui top attached secondary pointing large menu">
						<a class="green item" ng-class="{'active': changesTab === 3}" ng-click="changeChangesTab(3)">
							<i class="chart line icon"></i>
							Trends
						</a>
						<a class="blue item" ng-class="{'active': changesTab === 2}" ng-click="changeChangesTab(2)">
							<i class="chart bar icon"></i>
							All Changes
						</a>
						<a class="red item" ng-class="{'active': changesTab === 1}" ng-click="changeChangesTab(1)">
							<i class="table icon"></i>
							Greatest Changes
						</a>
					</div>
					<div class="ui bottom attached segment">
						<div ng-show="changesTab === 1">
							<table class="ui center aligned celled compact definition table">
								<thead>
									<th></th>
									<th>Greatest Rise</th>
									<th>Greatest Drop</th>
								</thead>
								<tbody>
									<tr>
										<th>Change</th>
										<td style="color: #07B953;"><i class="arrow up icon"></i> {[insights[search.mp - 1].biggestRise | number: 2]}%</td>
										<td style="color: #DF2428;"><i class="arrow down icon"></i> {[insights[search.mp - 1].biggestDrop | number: 2]}%</td>
									</tr>
									<tr>
										<th>Date Changed</th>
										<td>{[insights[search.mp - 1].biggestRiseDate | date:'MMM d, yyyy']}</td>
										<td>{[insights[search.mp - 1].biggestDropDate | date:'MMM d, yyyy']}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-show="changesTab === 2">
							<table class="ui center aligned celled compact table">
								<thead>
									<th>Days</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Type</th>
									<th>Change</th>
								</thead>
								<tbody>
									<tr ng-repeat="change in averageChanges[search.mp-1]">
										<td>{[change.days | number: 0]}</td>
										<td>{[change.startDate | date: 'MMM d, yyyy']}</td>
										<td>{[change.endDate | date: 'MMM d, yyyy']}</td>
										<td>{[change.change | changetype]}</td>
										<td ng-class="{'redText': change.change < 0, 'greenText': change.change > 0}"><i class="icon" ng-class="{'down arrow': change.change < 0, 'up arrow': change.change > 0, 'minus': change.change === 0}"></i> {[change.change | number: 2]}%</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div ng-show="changesTab === 3">
							<table class="ui center aligned celled compact table">
								<thead>
									<th>Days</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Trend</th>
									<th>Net Change</th>
								</thead>
								<tbody>
									<tr ng-repeat="trend in averageTrends[search.mp-1]">
										<td>{[trend.days | number: 0]}</td>
										<td>{[trend.startDate | date: 'MMM d, yyyy']}</td>
										<td>{[trend.endDate | date: 'MMM d, yyyy']}</td>
										<td>{[trend.net | trendtype]}</td>
										<td ng-class="{'redText': trend.net < 0, 'greenText': trend.net > 0}"><i class="icon" ng-class="{'down arrow': trend.net < 0, 'up arrow': trend.net > 0, 'minus': trend.net === 0}"></i> {[trend.net | number: 2]}%</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab" ng-show="tab === 6">
					<h3>Goals</h3>
				</div>
			</div>
		</div>
		<div class="four wide center aligned column">
			<button class="ui large fluid red labeled icon button" id="addGradeButton">
				<i class="table icon"></i>
				Add Grade
			</button>
			<br>
			<select class="ui fluid dropdown" id="mpSelectionDropdown" ng-model="search.mp">
				<option value="">Marking Period</option>
				<option value="1">MP1</option>
				<option value="2">MP2</option>
				<option value="3">MP3</option>
				<option value="4">MP4</option>
			</select>
			<div ng-show="tab === 2">
				<br>
				<select class="ui fluid dropdown" id="categorySelectionDropdown" ng-model="search.category">
					<option value="">Category</option>
					<option ng-repeat="category in categories" value="{[category.name]}">{[category.name]}</option>
				</select>
			</div>
			<div class="ui segments">
				<div class="ui red segment">
					<h3>Grade Categories</h3>
				</div>
				<div class="ui segment" ng-repeat="category in categories">
					<b>{[category.name]} </b>
					<span> {[category.weight]}%</span>
				</div>
			</div>
			<div class="ui segments">
				<div class="ui secondary segment">
					<h3>{[class.credits | number:2]} Credits</h3>
				</div>
				<div class="ui secondary segment">
					<h3>{[class.type | type]} Course</h3>
				</div>
				<div class="ui secondary segment">
					<h3>Taken in Grade {[class.grade]}</h3>
				</div>
			</div>
			<table class="ui center aligned celled table">
				<thead>
					<tr>
						<th>MP1</th>
						<th>MP2</th>
						<th>MP3</th>
						<th>MP4</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><i class="large {[class.mp1 | check]} icon"></i></td>
						<td><i class="large {[class.mp2 | check]} icon"></i></td>
						<td><i class="large {[class.mp3 | check]} icon"></i></td>
						<td><i class="large {[class.mp4 | check]} icon"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="ui fullscreen modal" id="addGradeModal">
		<div class="header">Add Grades</div>
		<div class="ui scrolling form content">
			<div class="fields" ng-repeat="newgrade in newgrades">
				<div class="two wide field" id="AGMdate{[$index]}">
					<label ng-show="$index === 0">Date</label>
					<input type="date" placeholder="Date" ng-model="newgrade.date">
				</div>
				<div class="two wide field" id="AGMcategory{[$index]}">
					<label ng-show="$index === 0">Category</label>
					<select class="ui fluid noninit dropdown addGradeCategoryDropdown" ng-model="newgrade.category">
						<option ng-repeat="category in categories" value="{[category.name]}">{[category.name]}</option>
					</select>
				</div>
				<div class="five wide field" id="AGMname{[$index]}">
					<label ng-show="$index === 0">Assignment Name</label>
					<input type="text" placeholder="Assignment Name" ng-model="newgrade.name">
				</div>
				<div class="two wide field" id="AGMmp{[$index]}">
					<label ng-show="$index === 0">Marking Period</label>
					<select class="ui fluid noninit dropdown addGradeMPDropdown" ng-model="newgrade.mp">
						<option value="1">MP1</option>
						<option value="2">MP2</option>
						<option value="3">MP3</option>
						<option value="4">MP4</option>
					</select>
				</div>
				<div class="two wide field" id="AGMptsearned{[$index]}">
					<label ng-show="$index === 0">Points Earned</label>
					<input type="number" placeholder="Points Earned" ng-model="newgrade.ptsearned" min="0">
				</div>
				<div class="two wide field" id="AGMptstotal{[$index]}">
					<label ng-show="$index === 0">Points Total</label>
					<input type="number" placeholder="Points Total" ng-model="newgrade.ptstotal" min="0">
				</div>
				<div class="one wide field">
					<label ng-show="$index === 0" style="visibility: hidden;">Delete</label>
					<div class="ui fluid red inverted icon button" ng-class="{'disabled': newgrades.length === 1}" ng-click="deleteNewGrade($index)"><i class="trash icon"></i></div>
				</div>
			</div>
		</div>
		<div class="actions">
			<button class="ui black button" ng-click="createRow()">Create Row</button>
			<div class="ui green labeled icon button" ng-click="addGrades()">
		    	<i class="plus icon"></i>
		    	Add Grades
		    </div>
			<div class="ui red deny button">Cancel</div>
		</div>
	</div>
</div>